{lib_dirs,["/Users/Schoens/.exenv/versions/0.14.3/lib","../../_build/prod"]}.

%% The latest release definition for the current project version
{release, { test, "0.0.1" }, [
  { test, "0.0.1" },
  elixir,
  iex, % needed for iex remote console
  sasl, % required for upgrades
  {neotoma, load}
]}.

%% ERTS is included by default, but let's be explicit
{include_erts, true}.

%% Do not ship Erlang library sources as part of the release
{include_src, true}.

%% We're providing our own start script (see below)
{extended_start_script, true}.
{generate_start_script, false}.

%% This copies our custom start script to the release bin directory
{overlay, [
  {mkdir, "releases/0.0.1"},
  {copy, "./sys.config", "releases/0.0.1/sys.config"},
  {copy, "./boot", "bin/test"},
  {mkdir, "releases/stuff"},
  {copy, "./things", "releases/things"}
]}.

{system_libs, "./_erlang/lib"}.
