%% -*- mode: erlang; tab-width: 4; indent-tabs-mode: 1; st-rulers: [70] -*-
%% vim: ts=4 sw=4 ft=erlang noet

{lib_dirs, [
  "../_elixir",
  "../_build/prod"
]}.

{default_release, {{{PROJECT_NAME}}}, "{{{PROJECT_VERSION}}}"}.

{release, {{{{PROJECT_NAME}}}, "0.0.1"}, [
  {{{PROJECT_NAME}}},
  iex % needed for iex remote console
]}.

{include_erts, true}.
{extended_start_script, false}.
{generate_start_script, false}.

{overlay, [
	{copy, "./files/runner", "bin/{{{PROJECT_NAME}}}"}
]}.