{{{LIB_DIRS}}}

%% Any older releases are next:
{{{RELEASES}}}

%% The latest release definition for the current project version
{release, { {{{PROJECT_NAME}}}, "{{{PROJECT_VERSION}}}" }, [
  { {{{PROJECT_NAME}}}, "{{{PROJECT_VERSION}}}" },
  elixir,
  iex, % needed for iex remote console
  sasl % required for upgrades
]}.

%% ERTS is included by default, but let's be explicit
{include_erts, true}.

%% TODO: Support providing a sys.config file
%% {sys_config, "./path/to/sys.config"}.

%% TODO: Support overrides
%% {overrides, [{example_app, "./path/to/example_app"}]}.

%% TODO: Support custom vm.args file
%% {vm_args, "./path/to/vm.args"}.

%% We're providing our own start script (see below)
{extended_start_script, true}.
{generate_start_script, false}.

%% This copies our custom start script to the release bin directory
{overlay, [
  {mkdir, "releases/{{{PROJECT_VERSION}}}"},
  {copy, "./files/sys.config", "releases/{{{PROJECT_VERSION}}}/sys.config"},
  {copy, "./files/boot", "bin/{{{PROJECT_NAME}}}"}
]}.
