{{{LIB_DIRS}}}

%% Any older releases are next:
{{{RELEASES}}}

%% The latest release definition for the current project version
{release, { {{{PROJECT_NAME}}}, "{{{PROJECT_VERSION}}}" }, [
  { {{{PROJECT_NAME}}}, "{{{PROJECT_VERSION}}}" },
  elixir,
  iex, % needed for iex remote console
  sasl % required for upgrades
]}.

%% ERTS is included by default, but let's be explicit
{include_erts, true}.

%% Do not ship Erlang library sources as part of the release
{include_src, false}.

%% We're providing our own start script (see below)
{extended_start_script, true}.
{generate_start_script, false}.

%% This copies our custom start script to the release bin directory
{overlay, [
  {mkdir, "releases/{{{PROJECT_VERSION}}}"},
  {copy, "./sys.config", "releases/{{{PROJECT_VERSION}}}/sys.config"},
  {copy, "./boot_shim", "bin/{{{PROJECT_NAME}}}"},
  {copy, "./boot_shim.bat", "bin/{{{PROJECT_NAME}}}.bat"},
  {copy, "./boot", "releases/{{{PROJECT_VERSION}}}/{{{PROJECT_NAME}}}.sh"},
  {copy, "./boot.bat", "releases/{{{PROJECT_VERSION}}}/{{{PROJECT_NAME}}}.bat"}
]}.
